<header>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Loan Comparison</a>
      <nav>
        <ul class="nav pull-right">
            <p class="navbar-text pull-right">
            <%= link_to "New Loan", new_loan_path %>
            </p>
        </ul>
      </nav>
    </div>
  </div>
</header>